/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #af2436;
    --main-blue: #465986;
    --main-gray: #393e46;
  }

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Cute Font', cursive;
    font-family: 'Playfair Display', serif;
}

header{
    width: 100%;
    /* height: 0px auto; */
    /* padding: 38px; */
    box-sizing: border-box;
    /* display: flex;
    justify-content: flex-end;
    position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background: #064420

}
.container {
    width: 200px;
    height: 50px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
    
}

nav ul li a{
    display: block;
    margin: 0px 0;
    padding: 0px 20px;
    color: aliceblue;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.myImg{
    max-width: 100%;
    height: 200px;
    margin-top: 20px;
}

  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }




/* Contact section */
  
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
    /* background-color: #393e46; */
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
    background-color: var(--main-red);
    color:black;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  